{% extends "layout.html" %}
{% block title %}Admin Panel{% endblock %}
{% block content %}

<div class="row">
<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

	<div class="col-md-4">
		<h4>Country: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.country_page') }}">Country List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.country_edit_page') }}"  type="submit">Add New Country</a>
		</div>
	</div>


	<div class="col-md-4">
		<h4>Team: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.team_page') }}">Team List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.team_edit_page') }}"  type="submit">Add New Team</a>
		</div>
	</div>

	<div class="col-md-4">
		<h4>Court: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.court_page') }}">Court List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.court_edit_page') }}"  type="submit">Add New Court</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Transfer: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.transfer_page') }}">Transfer List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.transfer_edit_page') }}"  type="submit">Add New Transfer</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Position: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.position_page') }}">Position List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.position_edit_page') }}"  type="submit">Add New Position</a>
		</div>
	</div>

	<div class="col-md-4">
		<h4>Season: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.season_page') }}">Season List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.season_edit_page') }}"  type="submit">Add New Season</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Hand: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.hand_page') }}">Hand List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.hand_edit_page') }}"  type="submit">Add New Hand</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Gender: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.gender_page') }}">Gender List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.gender_edit_page') }}"  type="submit">Add New Gender</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Coach: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.coach_page') }}">Coach List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.coach_edit_page') }}"  type="submit">Add New Coach</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Match: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.match_page') }}">Match List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.match_edit_page') }}"  type="submit">Add New Match</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Player: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.player_page') }}">Player List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.player_edit_page') }}"  type="submit">Add New Player</a>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Statistic: </h4>
		<div class="btn-group">
	        <a class="btn btn-default" href="{{ url_for('admin.statistic_page') }}">Statistic List</a>
	        <a class="btn btn-info" name="submit" href="{{ url_for('admin.statistic_edit_page') }}"  type="submit">Add New Statistic</a>
		</div>
	</div>
</div>
</div>
</div>
</hr>

{% endblock %}