{% extends "layout.html" %}
{% block title %}Court Edit Form{% endblock %}
{% block content %}
{% set key = request.path.split('/')[-1] if court else '' %}
{% set action = url_for('admin.court_page') if court else url_for('admin.court_page') %}
{% set name = court.name if court else '' %}
{% set address = court.address if court else '' %}
{% set capacity = court.capacity if court else '' %}

              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Edit Court Panel
                          </header>
                          <div class="panel-body">
                              <div class="form">
                                  <form class="form-validate form-horizontal" id="feedback_form" method="post" action="{{ action }}">
                                  <input type="hidden" name="key_value" value="{{ key }}">
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Name <span class="required"></span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control" name="name" value="{{ name }}" type="text" />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">address <span class="required"></span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control "  type="text" name="address" value="{{ address }}"  />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Capacity</label>
                                          <div class="col-lg-10">
                                              <input class="form-control "  type="text" name="capacity" value="{{ capacity }}"  />
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button class="btn btn-primary" value="save" name="submit" type="submit">Save</button>
                                              <button class="btn btn-default" value="cancel" name="submit" type="submit" >Cancel</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
{% endblock %}