{% extends "layout.html" %}
{% block title %}Team Edit Form{% endblock %}
{% block content %}
{% set key = request.path.split('/')[-1] if team else '' %}
{% set action = url_for('admin.team_page') if team else url_for('admin.team_page') %}
{% set name = team.name if team else '' %}
{% set color = team.color if team else '' %}
{% set date = team.date if team else '' %}
{% set countryid = team.countryid if team else '' %}
{% set courtid = team.courtid if team else '' %}
<!--
<form action="{{ action }}" method="post">
	<table>
	<tr>
	<th>Name:</th>
	<td>
	<input type="text" name="name" value="{{ name }}" required autofocus />
	</td>
	</tr>
	<tr>
	<th>Shirt Color:</th>
	<td>
	<input type="text" name="color" value="{{ color }}" size="4" />
	</td>
	</tr>
	</table>
	<input type="hidden" name="key_value" value="{{ key }}">
<input value="Save" name="save" type="submit" />
</form>

-->
<!-- Form validations -->
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Edit Team Panel
                          </header>
                          <div class="panel-body">
                              <div class="form">
                                  <form class="form-validate form-horizontal" id="feedback_form" method="post" action="{{ action }}">
                                  <input type="hidden" name="key_value" value="{{ key }}">
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Name <span class="required"></span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control"  name="name" value="{{ name }}" type="text" />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Team Color <span class="required"></span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control "  type="text" name="color" value="{{ color }}"  />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Team Foundation Date</label>
                                          <div class="col-lg-10">
                                              <input class="form-control " name="date" value="{{ date }}" />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Country</label>
                                          <div class="col-md-2">
                                             <select name="countryid" class="form-control m-bot15">
												{% for key, country in countries %}
													<option value={{country.objectid}} {%if country.objectid==countryid %}selected{% endif %}>{{country.name}}</option>
												{% endfor %}
                                          	</select>
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Court</label>
                                          <div class="col-md-2">
                                             <select name="courtid" class="form-control m-bot15">
												{% for key, court in courts %}
													<option value={{court.objectid}} {%if court.objectid==courtid %}selected{% endif %}>{{court.name}}</option>
												{% endfor %}
                                          	</select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button class="btn btn-primary" value="save" name="submit" type="submit">Save</button>
                                              <button class="btn btn-default" value="cancel" name="submit" type="submit"" >Cancel</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
{% endblock %}