{% extends "layout.html" %}
{% block title %}Team Edit Form{% endblock %}
{% block content %}
{% set key = request.path.split('/')[-2] %}
{% set action = url_for('team_page', key=key) if team else url_for('team_page') %}
{% set name = team.name if team else '' %}
{% set color = team.color if team else '' %}
<form action="{{ url_for('admin.team_page') }}" method="post">
	<table>
	<tr>
	<th>Name:</th>
	<td>
	<input type="text" name="name" value="{{ name }}" required autofocus />
	</td>
	</tr>
	<tr>
	<th>Shirt Color:</th>
	<td>
	<input type="text" name="color" value="{{ color }}" size="4" />
	</td>
	</tr>
	</table>
<input value="Save" name="save" type="submit" />
</form>
{% endblock %}