{% extends "layout.html" %}
{% block content %}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<a href="{{ url_for('teams_page') }}">
					<div class="info-box blue-bg">
						<i class="fa fa-cloud-download"></i>
						<div class="title">Teams</div>
					</div><!--/.info-box-->
					</a>
				</div><!--/.col-->

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a href="{{ url_for('player_page') }}">
					<div class="info-box brown-bg">
						<i class="fa fa-shopping-cart"></i>
						<div class="title">Players</div>
					</div><!--/.info-box-->
					</a>
				</div><!--/.col-->

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a href="{{ url_for('statistics_page') }}">
					<div class="info-box dark-bg">
						<i href="static/img/volleyball_icon.ico">
						<div class="title">Statistics</div>
					</div><!--/.info-box-->
					</a>
				</div><!--/.col-->

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a href="{{ url_for('countries_page') }}">
					<div class="info-box green-bg">
						<i class="fa fa-cubes"></i>
						<div class="title">Countries</div>
					</div><!--/.info-box-->
					</a>
				</div><!--/.col-->
{% endblock %}