{% extends "layout.html" %}
{%block navigation%}
	Statistics
{%endblock%}

{% block content %}
	        <table id="example" class="table table-striped table-advance table-hover">
	         <thead>
	         	 <tr>
	               <th>Player</th>
	               <th>Assist Number</th>
	               <th>Block Number </th>
	               <th>Score</th>
	               <th>Card Number</th>
	               <th>Season</th>
	            </tr>
	         </thead>
	         <tfoot>
    	         <tr>
	               <th>Player</th>
	               <th>Assist Number</th>
	               <th>Block Number </th>
	               <th>Score</th>
	               <th>Card Number</th>
	               <th>Season</th>
	            </tr>
	         </tfoot>
	         <tbody>
	            {% for key, statistic in statistics %}
	            <tr>
	               <td>{{statistic.player.name}} {{statistic.player.surname}} </td>
	               <td>{{statistic.assistnumber}}</td>
	               <td>{{statistic.blocknumber}}</td>
	               <td>{{statistic.score}}</td>
	               <td>{{statistic.cardnumber}}</td>
	               <td>{{statistic.season.name}}</td>
	            </tr>
				{% endfor %}
	         </tbody>
	      </table>

{% endblock %}