{% extends "layout.html" %}
{%block navigation%}
	Team
{%endblock%}

{% block content %}
	        <div class="nav search-row">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text" id="search">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

<table id="table" class="table table-striped table-advance table-hover">

	<thead>
		   <tr>
	      <th> Team Name</th>
	      <th>Team Color</th>
	      <th> Foundation Date</th>
	      <th> Country</th>
	      <th> Court Name</th>
	   </tr>
	</thead>
	<tbody>
    {% for key, team in teams %}
    <tr>
       <td>{{team.name}}</td>
       <td>{{team.color}}</td>
       <td>{{team.date}}</td>
       <td>{{team.country.name}}</td>
       <td>{{team.court.name}}</td>
     </tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}