{% extends "layout.html" %}
{%block navigation%}
	Transfers
{%endblock%}

{% block content %}
<div class="nav search-row">
       <!--  search form start -->
       <ul class="nav top-menu">
           <li>
               <form class="navbar-form">
                   <input class="form-control" placeholder="Search" type="text" id="search">
               </form>
           </li>
       </ul>
       <!--  search form end -->
</div>
 <table id="table" class="table table-striped table-advance table-hover">
 <thead>
     <tr>
        <th>Player</th>
        <th>Old Team </th>
        <th>New Team </th>
        <th>Season Name</th>
     </tr>
 </thead>
  <tbody>
     {% for key, transfer in transfers %}
     <tr>
        <td>{{transfer.player.name}} {{transfer.player.surname}} </td>
        <td>{{transfer.oldteam.name}}</td>
        <td>{{transfer.newteam.name}}</td>
        <td>{{transfer.season.name}}</td>
     </tr>
	{% endfor %}
  </tbody>
</table>
{% endblock %}